name = "DeconvOptim"
uuid = "03e7cd2f-1a03-4ea9-b59b-760a446df67f"
authors = ["Felix Wechsler <fxw+github@mailbox.org>"]
version = "0.7.3"

[deps]
ChainRulesCore = "d360d2e6-b24c-11e9-a2a3-2a2ae2dbcce4"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
FillArrays = "1a297f60-69ca-5386-bcde-b61e274b549b"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
LineSearches = "d3d80556-e9d4-5f37-9878-2ab0fcc64255"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Noise = "81d43f40-5267-43b7-ae1c-8b967f377efa"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Tullio = "bc48ee85-29a4-5162-ae0b-a64e1601d4bc"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[compat]
ChainRulesCore = "1"
FFTW = "1, 1.2, 1.3, 1.4, 1.5"
FillArrays = "0.12, 0.13, 1"
Interpolations = "0.12.10, 0.13, 0.14, 0.15"
LineSearches = "7.1"
Noise = "0.3"
Optim = "1.2, 1.3, 1.4, 1.5, 1.6"
PrecompileTools = "1"
Requires = "1.1.0"
Statistics = "1"
StatsBase = "0.33, 0.34"
Tullio = "0.3"
Zygote = "0.6, 0.7"
julia = "1, 1.6, 1.7, 1.8, 1.9, 1.10"

[extras]
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
Noise = "81d43f40-5267-43b7-ae1c-8b967f377efa"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestImages = "5e47fb64-e119-507b-a336-dd2b206d9990"

[targets]
test = ["Test", "Random", "Noise", "TestImages", "ImageMagick", "Pkg"]
